<div class="main">
  <header class="header">
    <ul class="menu">
      <li class="menu__item"><a href="" class="menu__links">Home</a></li>
      <li class="menu__item"><a href="" class="menu__links">About us </a></li>
      <li class="menu__item">
        <a href="" class="menu__links">How it works</a>
      </li>
      <li class="menu__item"><a href="" class="menu__links">Benefits </a></li>
      <li class="menu__item">
        <a href="" class="menu__links">Testimonials </a>
      </li>
    </ul>
    <ul class="menu menu-right">
      <li class="menu__item"><a href="" class="menu__links">Blog</a></li>
      <li class="menu__item"><a href="" class="menu__links">FAQ </a></li>
    </ul>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">Real estate advice for real locals</h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        nobis consequatur aut tenetur doloribus, quisquam reprehenderit
        quibusdam sed explicabo officiis facilis ipsam voluptate, veniam, id
        saepe eius minima temporibus exercitationem.
      </p>
      <a href="" class="btn btn--start"></a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img src="" alt="">
      </div>
    </div>
  </section>
</div>
