<!-- Made by Ammar -->
<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <li class="menu__item">
        <a class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">About Us</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">How it Works</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Benefits</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Testimonials</a>
      </li>
    </ul>
    <ul class="menu menu-right" #menuSecond>
      <li class="menu__item">
        <a class="menu__link">Blog</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">FAQ</a>
      </li>
    </ul>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">Belgium's No.1 property site for real estate. </h1>
      <p class="paragraph">
        Find the latest home for you, property news & real estate market data.
      </p>
      <a class="btn btn--start">Get Started</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img #imageFirst src="../assets/building-1.jpg" alt="" />
      </div>
      <div class="image-container">
        <img #imageSecond src="../assets/building-2.jpg" alt="" />
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="box"></div>
    <h4 class="heading-4" id="about">About Us</h4>
    <h1 class="heading-1" id="buy">
      Buying a home doesn't have to be a mystery.
    </h1>
    <div class="info-1">
      <div class="info-1__text">
        <span class="quote"> " </span>
        <h2 class="heading-3">
          Building with eco-friendly and natural materials
        </h2>
        <p class="paragraph">
          Green housing material should be healthy and environmentally friendly in its use and the way it is made. With green building materials, power consumption is low and its production is not harmful to the environment. In use, natural building materials are not harmful to health.
        </p>
        <a class="btn--learn">Learn More</a>
      </div>
      <div class="info-1__visual">
        <img src="../assets/building-3.jpg" alt="" />
      </div>
    </div>
  </section>
</div>
